<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black">
    <a class="navbar-brand" href="{% url 'welcome' %}">The Neighbourhood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for location in locations %}
              <a class="dropdown-item" href="{% url 'displayLocation' location.id%}">{{location.name}}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
       <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_category' %}">
        <input class="form-control mr-sm-2" type="text" placeholder=" Search Business" aria-label="Search" name='category'>
        <button class=btn btn-danger" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ml-auto">
               
                   
                {% if user.is_authenticated %}
                
      <li class="nav-item">
        <a class="nav-link" href="{% url 'health'%}">Health Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authorities'%}">Authorities</a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'businesses'%}">Businesses</a>
      </li>
                <li class="nav-item">
                    <a href="/logout/" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/accounts/login/" class="nav-link">REGISTER/LOG IN</a>
                </li>
                 <li class="nav-item">
          <a href="/admin" class="nav-link">My Admin</a>
</li>

                {% endif %}      
                      

    </div>
  </nav>
</body>

</html>

